.full-frame {
    width: 1280px;
    display: flex;
    align-items: flex-start;
    /* border-radius: 4px; */
    gap: 48px;
}

.club-frame {
    display: flex;
    width: 1280px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.article-frame {
    width: 848px;
    display: flex;
    background-color: white;
    border-radius: 4px;
    padding: 32px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    box-sizing: border-box;
}

.article-frame-outline {
    width: 848px;
    display: flex;
    border-radius: 4px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    box-sizing: border-box;
}

.live-feed-frame {
    display: flex;
    width: 384px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.live-feed {
    width: 384px;
    max-width: 384px;
    background-color: white;
    border-radius: 4px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    box-sizing: border-box;
}

.preview-small-frame {
    display: flex;
    max-width: 800px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 32px;
    flex-wrap: wrap;
}

.header-frame {
    display: flex;
    width: 1280px;
    height: 320px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 26px;
    background: grey;
}

.club-header-frame {
    display: flex;
    padding: 0px 80px;
    align-items: center;
    gap: 32px;
    flex: 1 0 0;
    align-self: stretch;
}

.name-stadium {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.name-stadium h1 {
    font-family: Verdana;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    margin: 0px;
}

.name-stadium p {
    font-family: Verdana;
    font-size: 24px;
    /* font-weight: 700; */
    color: white;
    margin: 0px;
}

.schedule-month-overview {
    display: flex;
    width: 1280px;
    padding: 32px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    background-color: white;
}

.schedule-month {
    display: flex;
    width: auto;
    padding: 0px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}