.feed-headline {
    display: flex;
    padding: 4px 8px;
    align-items: flex-start;
    gap: 8px;
}

.feed-headline, p {
    margin: 0;
}

.team {
    display: flex;
    width: 120px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.live-spiel {
    display: flex;
    width: 352px;
    max-width: 352px;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    box-sizing: border-box;
}

.upcoming-game {
    display: flex;
    height: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.competition {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.live-spiel-outline {
    display: flex;
    width: 352px;
    padding: 16px 0px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.competition-live-previous {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}