.logo16 img {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.logo32 img {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.logo48 img {
    width: 48px;
    height: 48px;
    object-fit: contain;
}

.logo60 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo60 img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.logo200 {
    display: flex;
    height: 200px;
    max-width: 400px;
    align-items: center;
    gap: 10px;
}

.logo200 img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}