.trennlinie {
    height: 0.5px;
    width: 100%;
    background-color: var(--background-grey);
}

.trennlinie-large {
    height: 1px;
    width: 100%;
    background-color: var(--background-grey);
}

.height60 {
    height: 60px;
}